
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    height: 50px;
    color: white;
    font-size: 150%;
}

#div_esq{
    background-color: white;
    min-height: 200px;
    width: 50%;
    float: left;
}

#div_dir{
    background-color: orange;
    min-height: 200px;
    width: 50%;
    float: right;
}

footer{
    clear: both;
    background-color:white;
    height: 30px;
}

.logodimen{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    float: left;
    width: 20%;   
}

#div{
    clear: both;
    color:white;
    background-color: black;
}

h1{ 
    padding: 50px;
}

.content{display: flex;justify-content: center;}
.contato{width: 100%;max-width: 500px;}
.form{display: flex;flex-direction: column;}
.field{padding:10px;margin-bottom: 15px;border: 1px solid#DDD;border-radius: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 16px;}
textarea{height: 150px;}
